p.shadow1{
  text-shadow: 2px 2px lightgrey;
}
p.shadow2{
  text-shadow: 3px -3px 4px blue;
}
p.shadow3{
  text-shadow: 0 1px red, 0 -1px red, 1px 0 red, -1px 0 red;
}
p.shadow4{
  text-shadow:
  /* 안쪽 흰색 그림자 */
  1px 0 white, -1px 0 white, 0 1px white, 0 -1px white, 
  1px 1px white, 1px -1px white, -1px 1px white, -1px -1px white,

  /* 바깥쪽 미국자두색 그림자 */
  2px 0 plum, -2px 0 plum, 0 2px plum, 0 -2px plum,
  2px 1px plum, -2px 1px plum, 1px 2px plum, 1px -2px plum,
  2px -1px plum, -2px -1px plum, -1px 2px plum, -1px -2px plum,
  2px 2px plum, 2px -2px plum, -2px 2px plum, -2px -2px plum;
}